<! doctype html>
<html>
<head>
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta charset="utf-8">
    <title>notes</title>
    <meta name="title" content="notes">
    <meta name="keywords" content="notes">
    <meta name="description" content="notes">
    <link rel="stylesheet" type="text/css" href="../static/normalize.css">
    <link rel="stylesheet" type="text/css" href="../static/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/base.css">
</head>
<body>

</body>
</html>